<div class="container">
  <div class="header">
    <h1>Festivos</h1>
    <a class="btn-primary" [routerLink]="'/holidays/new'">
      <fa-icon [icon]="faPlus" class="my-icon"></fa-icon> Nuevo Festivo
    </a>    
  </div>

  <div *ngIf="loading" class="loading">Cargando festivos...</div>

  <div *ngIf="error" class="error">
    {{ error }}
  </div>

  <div *ngIf="!loading && !error" class="holiday-grid">
    <div class="holiday-card" *ngFor="let holiday of holidays">
      <h3>{{ holiday.nombre }}</h3>
      <hr />
      <div class="holiday-details">
        <p>País: {{ holiday.pais.nombre }}</p>
        <p>Día: {{ holiday.dia }}</p>
        <p>Mes: {{ holiday.mes }}</p>
        <p>Días Pascua: {{ holiday.diasPascua }}</p>
        <p>Tipo: {{ holiday.tipo.nombre }}</p>
      </div>

      <div class="holiday-actions">
        <a
          class="btn-editar"
          [routerLink]="['/holidays', holiday.id, 'edit']"
        >
          <fa-icon [icon]="faPenToSquare" class="my-icon"></fa-icon>
          Editar
        </a>
        <button class="btn-delete" (click)="deleteHoliday(holiday.id)">
          <fa-icon [icon]="faTrash" class="my-icon"></fa-icon>
          Eliminar
        </button>
      </div>
    </div>
  </div>
</div>