<div class="container">
  <div class="header">
    <h1>Festivos</h1>
    <button class="btn-primary" routerLink="/holidays/new">
      <fa-icon [icon]="faPlus" class="my-icon"></fa-icon> Nuevo Festivo
    </button>
  </div>

  <div *ngIf="loading" class="loading">Cargando festivos...</div>

  <div *ngIf="error" class="error">
    {{ error }}
  </div>

  <div *ngIf="!loading && !error" class="holiday-grid">
    <div *ngFor="let holiday of holidays" class="holiday-card">
      <div class="holiday-header">
        <h2>{{ holiday.nombre }}</h2>
      </div>
      <div class="holiday-body">
        <p><strong>Fecha:</strong> {{ holiday.fecha | date : "longDate" }}</p>
      </div>
      <div class="holiday-actions">
        <button
          class="btn-edit"
          [routerLink]="['/holidays', holiday.id, 'edit']"
        >
          <fa-icon [icon]="faPenToSquare" class="my-icon"></fa-icon>Editar
        </button>
        <button class="btn-delete" (click)="deleteHoliday(holiday.id!)">
          <fa-icon [icon]="faTrash" class="my-icon"></fa-icon>Eliminar
        </button>
      </div>
    </div>
  </div>
</div>
